<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:label="SAFESEP Evidence" android:allowBackup="false" android:supportsRtl="true">
    <provider android:name=".SyntheticProvider" android:authorities="org.safesep.evidence.synthetic"
      android:exported="false" android:grantUriPermissions="true" />
    <activity android:name=".GrantActivity" android:exported="true" />
    <activity android:name=".RevokeActivity" android:exported="true" />
  </application>
</manifest>
